<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-check-in-info-heading" jhiTranslate="baggageHandlerApp.checkInInfo.home.createOrEditLabel">Create or edit a Check In Info</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baggageHandlerApp.checkInInfo.memberName" for="field_memberName">Member Name</label>
                    <input type="text" class="form-control" name="memberName" id="field_memberName"
                           formControlName="memberName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baggageHandlerApp.checkInInfo.pnrNumber" for="field_pnrNumber">Pnr Number</label>
                    <input type="text" class="form-control" name="pnrNumber" id="field_pnrNumber"
                           formControlName="pnrNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="baggageHandlerApp.checkInInfo.checkInStatus" for="field_checkInStatus">Check In Status</label>
                    <input type="text" class="form-control" name="checkInStatus" id="field_checkInStatus"
                           formControlName="checkInStatus"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
